<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="http://fonts.googleapis.com/css?family=Raleway:400,300,600,500" rel="stylesheet" type="text/css">
        <link href="assets/css/normalize.css" type="text/css" rel="stylesheet"/>
        <link href="assets/css/skeleton.css" type="text/css" rel="stylesheet"/>
        <script src="https://use.fontawesome.com/41d47856e6.js"></script>
        <link href="assets/css/main.css" type="text/css" rel="stylesheet"/>
        <title>CivicSocial</title>
    </head>

    <body ng-app="civicsocial">
        <div id="fb-root"></div>
        <script>
            (function(d, s, id) {
                var js,
                    fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id))
                    return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=701807369972563";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <div class="container" ng-controller="AppCtrl">
            <div class="row">
                <div class="twelve columns">
                    <img src="assets/img/logo.png" class="logo" />
                </div>
            </div>
            <div class="row">
                <div class="six columns">
                    <div class="card" style="padding:10px;">
                        <div class="row mb10">
                            <div class="twelve columns">
                                <input type="text" class="u-full-width" placeholder="Filter by name..." ng-model="filter.name"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="twelve columns">
                                <input type="text" class="u-full-width" placeholder="Filter by position..." ng-model="filter.position"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="six columns">
                    <div class="card" style="padding:10px;">
                        <div class="row">
                            What's my district?
                        </div>
                        <div class="row">
                            <form ng-submit="getDisctrict()">

                                <div class="six columns">
                                    <input type="text" class="u-full-width" placeholder="Address..." ng-model="address"/>
                                </div>
                                <div class="six columns">
                                    <input type="submit" class="u-full-width"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="six columns">
                    <div class="card">
                        <ul class="menu u-full-width">
                            <li ng-repeat="person in people | filter:filter" class="item" ng-click="setActive(person.$id)" ng-class="person.$id">
                                <img ng-src="{{person.image}}"/>
                                <div class="menu-item-text">
                                    <h5>{{person.name}}</h5>
                                    <span>{{person.position}}</span>
                                </div>
                                <div class="divider" ng-show="!$last"></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="six columns">
                    <div class="card right">
                        <img ng-src="{{current.image}}"/>
                        <h1>{{current.name}}</h1>
                        <h4>{{current.position}}</h4>
                    </div>
                    <div class="card right">
                        <div id="currentTwitter"></div>
                    </div>
                    <div class="card right" style="text-align:center">
                      <iframe
                            ng-src="{{current.facebookURL}}"
                            style="border:none;overflow:hidden; height:500px;text-align:center"
                            scrolling="no"
                            frameborder="0"
                            allowTransparency="true"></iframe>
                            <!--<blockquote cite="https://www.facebook.com/allenbuckley2016/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/allenbuckley2016/">Allen Buckley for U.S. Senate 2016</a></blockquote>-->
                            <!--<div class="fb-page" data-href="{{current.facebook}}" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>-->
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
    <script src="https://platform.twitter.com/widgets.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyBMhuoZrjdvKSM6Y82njsGWYMAXKWKUf9M",
            authDomain: "civicsocial-1eeb0.firebaseapp.com",
            databaseURL: "https://civicsocial-1eeb0.firebaseio.com",
            storageBucket: ""
        };
        firebase.initializeApp(config);
    </script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.0.2/angularfire.min.js"></script>
    <script src="assets/js/geocoding.bundle.js"></script>
    <script src="assets/js/app.js"></script>

</html>
